body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #d9534f;
    padding: 10px;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
